<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>    
  </connectionStrings>
  <appSettings>
    <!--Data entry speadsheet path -->
    <add key="ExcelFilePath" value="TestProducts.xlsx" />
    <add key="ExcelFilePath_0" value="C:\CIT\MyProjects\Pubs\ExcelToGenericList\Src\TestProducts.xlsx" />
    <add key="ExcelFilePath_1" value="D:\MyProjects\MyPublish\ExcelToGenericList\Src\TestProducts.xlsx" />

    <!--Remove "_0" to enable boolean to bit conversion -->
    <add key="BooleanToBit_0" value="Y"/>    
    
  </appSettings>   
</configuration>
