<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="MyDbContext" providerName="System.Data.SqlClient" connectionString="data source=DESKTOP-ISG6BE3;initial catalog=Stocks;persist security info=True;user id=sa;password=Hanuman1$;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!--Data entry speadsheet path -->
    <add key="ExcelFilePath" value="C:\Users\pradeepd\Desktop\ScriptPrices.xlsx" />
  </appSettings>
  
</configuration>
