<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="Filename" value="C:/test1.txt"/>
    <add key="NearExpiry" value="28-May-2015"/>
    <add key="NextExpiry" value="28-Mar-2015"/>
    <add key="LineNo" value="0"/>
    <!--<add  key ="LoginID" value="348147off"/>-->
    <add key="LoginID" value="dhanrajanip7"/>
    <!--<add  key ="MembershipPWD" value="vinod@0808"/>-->
    <add key="MembershipPWD" value="Hanuman2$"/>
    <!--<add  key ="TradingPWD" value="88b587"/>-->
    <add key="TradingPWD" value="5Z7TYD"/>
    <add key="IP" value="192.168.2.5"/>
    <add key=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="StocksEntities" connectionString="metadata=res://*/StockMarkets.csdl|res://*/StockMarkets.ssdl|res://*/StockMarkets.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ISG6BE3;initial catalog=Stocks;user id=sa;password=Hanuman1$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  
   

</configuration>
